@model ShoppingCartVM

    <h2>Your shopping cart</h2>

<div class="row checkoutForm">
    <h4>Here are the weapons in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Weapon</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Number</td>
                    <td class="text-left">@line.Weapon.Name</td>
                    <td class="text-right">@line.Weapon.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Number * line.Weapon.Price).ToString("c"))
                    </td>
                    <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-weaponId="@line.Weapon.WeaponId"></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>
            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Add more weapons<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a asp-controller="Weapon" asp-action="WeaponList" asp-route-category="ALL">All</a></li>
                    <li><a asp-controller="Weapon" asp-action="WeaponList" asp-route-category="Pistol">Pistol</a></li>
                    <li><a asp-controller="Weapon" asp-action="WeaponList" asp-route-category="ShotGun">Shotgun</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>