@model WeaponListVM
<div>
    <h2>
        @ViewBag.Heading
    </h2>
</div>

@{
    foreach (var weapon in Model.Weapons)
    {
       
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail" >
                <img src=@weapon.ImageUrl class="img-responsive" style="max-height:100px;"/>
                <div class="caption">
                    <h3 class="pull-right"> @weapon.Price.ToString("c")</h3>
                    <h3><a>@weapon.Name</a></h3>
                    @*<p>@weapon.Category.CategoryName</p>
                    <p>@weapon.InStock</p>*@
                </div>
            </div>
            
        </div>
    }
}